
body {
    background-image: url("https://motionarray.imgix.net/2219796-zYpbv03KZb-high_0013.jpg?w=660&q=60&fit=max&auto=format");
}

#title1 {
    /* font and text information and styling */
    color: rgb(244, 255, 240);
    font-size: 50px;
    text-align: center;
    text-decoration:underline overline;
    padding: 15px 0px 10px 0px;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

    /* placement and background */
    background-image: url("https://www.shutterstock.com/shutterstock/videos/24097078/thumb/1.jpg?ip=x480");
    border-style: groove double;
    border-top-color: black ;
    border-bottom-color: black;
    border-radius: 25%;
    

    
}

nav {
    /* display arrangement */
    display: flex;
    flex-direction: row     ; 
    justify-content: space-evenly;
    align-items:center;
    position: relative;

    /* background and spacing from other sections */
    background-color: rgba(187, 170, 204, 0.412);
    height: 45px;
    margin: 0px 10px 10px 10px;

    /* border */
    border-style: groove groove double double;
    border-color: rgb(128, 166, 174);    
    border-bottom-left-radius: 40%;
    border-top-right-radius: 60%;
}
/* styling texts */
.links a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    animation: unvisited infinite 3s;
    font-size: 30px;
    font-family: "Bungee", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.links a:hover {
    font-size: 40px;
    text-decoration: none;
    animation: hover infinite 5s;
    font-family: "Bungee", sans-serif;
    font-style: normal;
    font-weight: 400;
}

#title2 {
    /* styling the cusiine titles look */
    color: #98a5d7;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100; 
        /* text decoration */
            /* animation: name, duration, animation length */
    animation: underlineflow infinite 2s ;
    /* border */
    border-style: groove;
    width: 25%;
    border-bottom-style: double;
    border-color: #7ca4b7;
    /* placement */
    display: flex;
    justify-content:space-evenly;
    

}
/* content within "tabs */
.Cusinecolumn {
    display: grid;
    grid-template-columns: auto auto;
    /* background-image: url("https://i.pinimg.com/236x/72/e6/93/72e693b9b416902395eae3cf199d04e1.jpg"); */
}
#Foodtitle {
    color: #ffffff;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;

}


/* animations */
@keyframes unvisited {
    0% { text-decoration: underline; color: rgb(241, 249, 255); }
    50% { text-decoration: underline; color: rgb(177, 185, 205); }
    100% { text-decoration: underline; color: rgb(255, 255, 255); }
}
@keyframes hover {
    0% { text-decoration: none; color: rgb(191, 223, 248); }
    50% { text-decoration: none; color: rgb(153, 168, 205); }
    100% { text-decoration: none; color: rgb(191, 223, 248); }
}
@keyframes underlineflow {
    0% { text-decoration: underline; text-decoration-color:#7c88b7;}
    50% {text-decoration: underline; text-decoration-color:#98a5d7;}
    100% { text-decoration: underline; text-decoration-color:#7c88b7;}


}