@media screen and (min-width: 1536px) and (min-height: 695px) { }


/* web body */
body {
    background-color:rgb(119, 118, 118);
}

/* Please Dont Forget, from the bottom of my heart, I am truly inlove with the hope that sleeps inside yourself */

/* stlying links */
.links {
    /* links look */
    display: flex;
    justify-content: space-evenly;
    border: solid 1px #000000;
    background-color: #4a4a4a;
}

.links a:link {
    /* styling links */
    text-decoration: none;
    color: rgb(255, 255, 255);
    animation: unvisited infinite 5s;
    font-size: 30px;
    font-family: "Bungee", sans-serif;
    font-style: normal;
    font-weight: 400;
    transition: 0.2s;
}

.links a:hover {
    font-size: 40px;
    text-decoration: none;
    animation: hover infinite 5s;
    font-family: "Bungee", sans-serif;
    font-style: normal;
    font-weight: 400;
}

/* styling the about section in main */

.contin {
    display:grid;
    grid-template-columns: auto auto;
    margin: 0px 0px 10px 0px
}
.maingrid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content:space-evenly;
    margin: 10px 0px 10px 0px;
    column-gap: 50px;
}

.maingrid div {
    display:grid;
    grid-template-columns: auto auto;
    border: 3px solid #ccc;
    transition: 2s;
    background-color: #676767;

}

.aboutEG {
    display:grid;
    justify-content: center ;
    background-color: grey;
    border-style: solid solid double double;
    border-color: white; 
    width:auto;
    height: auto;
}


/* images */


/* titles */
#headtitle {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    
}

#Abouttitle {
    /* font family adjustments */
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;    
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 25px;
    /* placement */
    margin: 5px 0px 5px 20px;
    
}

#aboutsubtitle {
     /* font family adjustments */
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;    
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 20px;
    /* Placement*/
    margin: 0px 0px 5px 25px;
}

/* footer */
.footerblurb {
    display: grid;
    grid-template-columns: auto auto;
    border: solid 1px #ccc;
    background-color: #969696cc;
}


@keyframes unvisited {
    0% { text-decoration: underline; color: rgb(241, 249, 255); }
    50% { text-decoration: underline; color: rgb(177, 185, 205); }
    100% { text-decoration: underline; color: rgb(255, 255, 255); }
}
@keyframes hover {
    0% { text-decoration: none; color: rgb(191, 223, 248); }
    50% { text-decoration: none; color: rgb(153, 168, 205); }
    100% { text-decoration: none; color: rgb(191, 223, 248); }
}
@keyframes underlineflow {
    0% { text-decoration: underline; text-decoration-color:#7c88b7;}
    50% {text-decoration: underline; text-decoration-color:#98a5d7;}
    100% { text-decoration: underline; text-decoration-color:#7c88b7;}
}